//colors
$color-main: #000;
$color-white: #fff;
$color-accent: #F51B1B;
$color-white-tr: rgba(255, 255, 255, .4);

//borders
$border-radius-def: 24px;

//font sizes in px
$text-title: 24;
$text-m-title: 20;

$text-subtitle: 16;

$text-main: 20;
$text-m-main: 16;

$text-small: 18;
$text-m-small: 16;

//breakpoints
$breakpoint-mobile: 481px;
$breakpoint-tablet: 768px;
$breakpoint-laptop: 992px;